<a href="https://colab.research.google.com/github/AkbarBunyad/Training_Programs/blob/main/gi_group_ds/practice/practice_3_functions_and_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a function that takes a number as input and returns its square.

In [ ]:
def func(n):
  return n**2
i = int(input('Enter the number: '))
print(f'Square of {i} is {func(i)}')

Enter the number: 13
Square of 13 is 169

2.Write a function that takes three numbers as input and returns the largest number among them.

In [ ]:
def largest():
  lst = []
  for i in range(3):
    lst+=[float(input('Enter the number: '))]
  mn = lst[0]
  for i in lst:
    if i > mn:
      mn = i
  return mn

largest()

Enter the number: 12
Enter the number: 14
Enter the number: 45

45.0

3. Write a function to calculate the factorial of a number. The factorial is the product of all positive integers up to that number.

In [ ]:
def fact(n):
  s = 1
  for i in range(1, n+1):
    s*=i
  return s
fact(5)

120

5. Write a function that takes a list of numbers from the user and calculates the average.

In [ ]:
def av(n):
  c = 0
  for i in range(n):
    c+=float(input('Enter the number: '))
  return c/n
av(5)

Enter the number: 12
Enter the number: 13
Enter the number: 13
Enter the number: 14
Enter the number: 15

13.4

6.Write a function that takes a list of numbers and separates the odd and even numbers into two different lists.

In [ ]:
def separator(n):
  od = []
  ev = []
  for i in range(n):
    nt = float(input('Enter the number: '))
    if nt % 2 == 0:
      ev +=[nt]
    else:
      od+=[nt]
  return f'list for odds: {od} and for evens: {ev}'
separator(3)

Enter the number: 12
Enter the number: 23
Enter the number: 45

'list for odds: [23.0, 45.0] and for evens: [12.0]'

7.Create a function that takes two numbers as inputs and returns their sum.

In [ ]:
def fenc():
  s = 0
  for i in range(2):
    s+=float(input('Enter the number: '))
  return s
fenc()

Enter the number: 12
Enter the number: 23

35.0

4. Write a function that returns the nth Fibonacci number. The Fibonacci series is a sequence where each number is the sum of the two preceding ones, starting from 0 and 1.

In [ ]:
#fibonacci sequence
'''def fibon(n):
  if n<=0:
    return 'Invalid input'
  elif n == 1:
    return 0
  elif n == 2:
    return 1
  else:
    fib_seq = [0,1]
    for i in range(2, n):
      fib_seq+=[fib_seq[-1] + fib_seq[-2]]
    return fib_seq[-1]
fibon(5)'''

def fibon(n):
  a, b = 0,1
  for i in range(n):
    a, b = b, a+b
  return a
fibon(3)

2

8.Create a Car class with attributes like brand and model. Create an instance of this class and print its attributes.

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model
mine = Car('Toyota', '2011')
print('Brand: ', mine.brand)
print('Model: ', mine.model)

Brand:  Toyota
Model:  2011

9.Create a Rectangle class with attributes for width and length. Include methods to calculate the area and perimeter.

In [ ]:
class Rectangle:
  def __init__(self, width, length):
    self.width = width
    self.length = length

  def area(self):
    return self.width * self.length

  def perim(self):
    return 2 * (self.width + self.length)

rec = Rectangle(12, 3)
print(f'Area: {rec.area()}')
print(f'Perimeter: {rec.perim()}')

Area: 36
Perimeter: 30

10.Create a Book class that is initialized with the name and author of the book. Include a method to print the book’s name and author.

In [ ]:
class poem:
  def __init__(self, b_name, author):
    self.b_name = b_name
    self.author = author

  def info(self):
    print(f'Book name: {self.b_name}')
    print(f'Author: {self.author}')
mine = poem('Almanack', 'Naval Ravikant')
mine.info()

Book name: Almanack
Author: Naval Ravikant

11.Write a Python program to create a class representing a Circle. Include methods to calculate its area and perimeter.

In [ ]:
import math
class circle:
  def __init__(self, radius):
    self.radius = radius

  def area(self):
    return math.pi * (self.radius ** 2)

  def perim(self):
    return 2 * math.pi * self.radius

mine = circle(4)
print(f'Area: {mine.area()}')
print(f': {mine.perim()}')

Area: 50.26548245743669
Perimeter: 25.132741228718345

12.Write a Python function that checks whether a passed string is a palindrome or not. Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [ ]:
def palindrome():
  s = input('Enter your input in whatever format you want: ')
  if s == s[::-1] :
    return 'Valid'
  else:
    return 'Not palindrome'

palindrome()

Enter your input in whatever format you want: 123321

'Valid'