<a href="https://colab.research.google.com/github/AkbarBunyad/Training_Programs/blob/main/gi_group_ds/practice/practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Verilmiş listin elementlərinin cəmini tapın : [10, 20, 30, 40, 50]

In [ ]:
lst = [10, 20, 30, 40, 50]
sum(lst)

150

2.Verilmiş tuple içindəki ən böyük və ən kiçik elementi tapın : (3, 7, 2, 5, 20, 10)

In [ ]:
t = (3, 7, 2, 5, 20, 10)
print(f'Min and max in the tuple given are {min(t)} and {max(t)}')

Min and max in the tuple given are 2 and 20

3.Verilmiş bir setdəki elementləri artan sıra ilə sıralayıb, yeni bir list kimi qaytarın:{16, 2, 28, 24, 10}

In [ ]:
s = (16, 2, 28, 24, 10)
list(sorted(s))

[2, 10, 16, 24, 28]

4.Verilmiş dictionaryde bütün dəyərlərin cəmini tapın: {'a': 18, 'b': 27, 'c': 36}

In [ ]:
dct = {'a': 18, 'b': 27, 'c': 36}
s = 0
for i in dct:
  s+= dct[i]
s

81

5.Verilmiş bir listdəki təkrarlanan elementləri silərək, yalnız unikal elementlərdən ibarət yeni bir list yaradın:[1, 2, 2, 3, 2,8,4, 5, 1,5, 6, 7]

In [ ]:
lst = [1, 2, 2, 3, 2, 8, 4, 5, 1, 5, 6, 7]
new = []
for i in lst:
  if i not in new:
    new+=[i]
new

[1, 2, 3, 8, 4, 5, 6, 7]

6.İki listin kəsişmə elementlərindən ibarət yeni bir list yaradın: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]
new = []
for i in lst1:
  if i in lst2:
    new+=[i]
new

[4, 5]

7.Verilmiş bir tuple'ın içindəki string elementləri başqa bir tuple'a köçürün:(Elton', 'Mirzayev', '20', 'ASOIU')

In [ ]:
t = ('Akbar', 'Bunyadzade', 20, 'BHOS')
t1 = ()
for i in t:
  if isinstance(i, str):
    t1 += (i, )
t1

('Akbar', 'Bunyadzade', 'BHOS')

8. Bir setdəki bütün cüt sayları ayrı bir setə köçürün:

In [ ]:
s = set()
for i in range(1, 24):
  s.add(i)
s1 = set()
for i in s:
  if i%2 == 0:
    s1.add(i)
s1

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22}

9.Bir dictionaryde açarların (keys) və dəyərlərinin (values) yerini dəyişdirərək yeni bir dictionary yaradın.

In [ ]:
dct = {'Name': 'Akbar', 'Surname': 'Bunyadzade', 'Degree': 'CHEM',
       'Course': 3}
dct1 = {}
for i in dct:
  dct1[dct[i]] = i
dct1

{'Akbar': 'Name', 'Bunyadzade': 'Surname', 'CHEM': 'Degree', 3: 'Course'}

10.Listdəki hər bir elementin neçə dəfə təkrarlandığını dictionary vasitəsilə göstərin.

In [ ]:
lst = [2, 3, 4, 7, 1, 2, 5, 3, 9, 8, 2, 4, 5, 0, 9]
dct = {}
for i in lst:
  if i not in dct:
    dct[i] = 1
  else:
    dct[i] += 1
dct

{2: 3, 3: 2, 4: 2, 7: 1, 1: 1, 5: 2, 9: 2, 8: 1, 0: 1}

11.Verilmiş bir tuple'ın içindəki elementlərin orta qiymətini hesablayın

In [ ]:
t = (2, 4, 5, 1, 2, 5, 9, 3)
sum(t)/len(t)

3.875

12.İki set arasındakı fərqi tapın (birincinin ikincidə olmayan elementləri).

In [ ]:
s1 = set([12, 34, 2, 4, 9, 90])
s2 = set([34, 23, 80, 91, 4, 8, 5])
s3 = set()
for i in s1:
  if i not in s2:
    s3.add(i)
s3

{2, 9, 12, 90}

13. Bir dictionarydeki dəyərləri artan sıra ilə sıralayın

In [ ]:
import numpy as np

In [ ]:
dct = {'A': 23, 'B': 2, 'C': 5, 'D': 90, 'E': 1}
keys = list(dct.keys())
values = list(dct.values())
sorted_dct = {keys[i]: values[i] for i in np.argsort(values)}
sorted_dct

{'E': 1, 'B': 2, 'C': 5, 'A': 23, 'D': 90}

14.Verilmiş bir listdəki ədədləri onların kvadratları ilə əvəz edin.

In [ ]:
lst = [2, 3, 4, 7, 1, 2, 5, 3, 9, 8, 2, 4, 5, 0, 9]
for i in range(len(lst)):
  lst[i] = lst[i] ** 2
lst

[4, 9, 16, 49, 1, 4, 25, 9, 81, 64, 4, 16, 25, 0, 81]

15.Bir dictionarydeki dəyərlərə əsasən, ən çoxdan ən aza doğru keysleri sıralayın:

In [ ]:
dct = {'A': 23, 'B': 2, 'C': 5, 'D': 90, 'E': 1}
v = list(dct.values())
for i in np.flip(np.argsort(v)):
  print(list(dct.keys())[i])

D
A
C
B
E

16.İki set arasında simmetrik fərqə (yəni yalnız birində olan elementlər) əsaslanaraq yeni bir set yaradın.

In [ ]:
s1 = set([12, 34, 2, 4, 9, 90])
s2 = set([34, 23, 80, 91, 4, 8, 5])
s1.union(s2)

{2, 4, 5, 8, 9, 12, 23, 34, 80, 90, 91}