<a href="https://colab.research.google.com/github/AkbarBunyad/Training_Programs/blob/main/homework_2_(Scholarship).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Sevil has just learned multiplication tables in school. Today she has learned tables of 8 and 9. Help her memorise both the tables by printing them using for loop.**

In [ ]:
print('Multiplication Table for 8: \n')
for i in range(1, 11):
  res = 8*i
  print(f"8 * {i} = {res}")

print('\nMultiplication Table for 9: \n')
for i in range(1, 11):
  re = 9*i
  print(f"9 * {i} = {re}")

Multiplication Table for 8:

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Multiplication Table for 9:

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

**2.
Write a for loop that prints out the following list: colors = ['yellow', 'black', 'red', 'orange', 'blue']**

In [ ]:
colors = ['yellow', 'black', 'red', 'orange', 'blue']
for i in colors:
  print(i)

yellow
black
red
orange
blue

**3. In a school canteen, children under the age of 9 are only given milk porridge for breakfast. Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger. The canteen master asks the age of the student and gives them breakfast accordingly. Aysel's age is 10. Use if-else statement to determine what the canteen master will offer to him.**

In [ ]:
while True:
  try:
    age = int(input("Enter Aysel's age: "))

    if age<0:
      print("Please enter a valid positive age")
      break
    else:
      if age < 9:
        print('Aysel will be offered milk porridge')
        break
      elif 10 <= age <= 14:
        print("Aysel will be offered sandwich")
        break
      elif 15<=age<=17:
        print("Aysel will be offered burger")
        break
      else:
        print("Aysel is not eligible for the age group provided")
        break
  except:
    print('Please enter a valid age')

Enter Aysel's age: 12.6
Please enter a valid age
Enter Aysel's age: 10
Aysel will be offered sandwich

**4. Print just even numbers from 10 to 100 in the list and output the result in a line.**

In [ ]:
for i in range(10, 101):
  if i%2 == 0:
    print(f'{i}', end = ', ' if i<100 else '')

10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100

**5. Find the count of digits of the given natural number. (Use input() function to get the number)**

In [ ]:
try:
  num = int(input('Enter a natural number: '))
  if num <=0:
    print('Enter a valid positive natural number')
  else:
    print(f"{num} has {len(str(num))} digit(s)")
except:
  print('Enter a valid natural number')

Enter a natural number: -12
Enter a valid positive natural number

**6. Find the sum of negative number in the list  a = [34.9, -23, -98, -65.2, -89, 3].**

In [ ]:
a = [34.9, -23, -98, -65.2, -89.3]
t = 0
for i in a:
  if i<0:
    t+=i
print(t)

-275.5

**7. If the entered salary is less than 400, a 20% increase should be added; if it is more than 1000 manat, a 10% increase should be added; otherwise, a 15% increase should be applied.**

In [ ]:
try:
  s = float(input('Enter the salary: '))
  if s<0:
    print('Enter a valid input')
  else:
    if s < 400:
      snew = s * 1.20
    elif s>1000:
      snew = s*1.1
    else:
      snew = s*1.15
    snew = round(snew, 2)
    print(f"The updated salary is {snew}")
except:
  print('Enter a valid input')

Enter the salary: -34
Enter a valid input

**8. Count down from 5 to 1 with 2 seconds and print "END" at the end.**

In [ ]:
import time
for i in range(5, 0, -1):
  print(i)
  time.sleep(2)
print('END')

5
4
3
2
1
END

**9. Print odd numbers in the list b = [23, 56, 76, 32, 89, 23, 30].**

In [ ]:
lst = [23,56,76,32,89,23,30]
l = []
for i in lst:
  if i%2 == 1:
    l+=[i]
print(l)

[23, 89, 23]

**10. Write a program to determine if a given number is divisible by both 5 and 3.**

In [ ]:
try:
  n = int(input('Enter a number: '))
  if n%3 == 0 and n % 5 == 0:
    print(f"{n} is divisible by both 3 and 5")
  else:
    print('not divisible')
except:
  print('enter a valid input')

#assumed that n is a complete number: both positive and negative

Enter a number: -123
not divisible