<a href="https://colab.research.google.com/github/AkbarBunyad/Training_Programs/blob/main/gi_group_ds/assignments/GI_MODULE1_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ## **Homework 1**

#### Aşağıdakı stringin simvol asyını ekrana çıxarın.

In [ ]:
my_word = "azerbaijanismynativeland"

# 1st way
c = 0
for i in my_word:
  c+=1
print(f'number of characters: {c}')

#2nd
print(len(my_word))

number of characters: 24
24

 ## **Homework 2**

#### İki stringi bir yerə gətirib onları boşluqla ayırın. Həmin stringi başqa bir variable-yə mənimsədin.

In [ ]:
string_one = "gigroup"
string_two = "academy"

combined = string_one + ' ' + string_two
print(combined)

gigroup academy

 ## **Homework 3**

#### Stringdən "Azerbaijan" substring-ni çıxarın.

In [ ]:
my_word = "landoffireAzerbaijan"
print(my_word[10:20])

Azerbaijan

 ## **Homework 4**

#### Aşağıdakı stringi "ForFunExample" formatında ekrana çıxarın(capitalize vasitəsi ilə)

In [ ]:
my_word = "forfunexample"
nw = ''
for i in range(len(my_word)):
  if i in (0, 3, 6):
    nw+=my_word[i].upper()
  else:
    nw+=my_word[i]
print(nw)

ForFunExample

 ## **Homework 5**
#### Aşağıdakı 2 rəqəmi istifadə edərək exponensial qiyməti əldə edin:
**Output**: 125

In [ ]:
base = 5
exponent = 3
result = base ** exponent
print(base,"to the power of",exponent, " = ",result)

5 to the power of 3  =  125

 ## **Homework 6**

Inputda verilmiş listdən outputdakı resultı alan code-u yazın.

**Input**

 [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

**Output**

[10, 20, [300, 400, [5000, 7400,6000], 500], 30, 40]

In [ ]:
input = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
out = []
for i in range(len(input)):
  sub = []
  if type(input[i]) == list:
    sub = input[i]
    for j in range(len(sub)):
      if sub[2] == [5000, 6000]:
        sub[2] = [5000, 7400,6000]
        out+= [sub]
  else:
    out+=[input[i]]
print(out)

[10, 20, [300, 400, [5000, 7400, 6000], 500], 30, 40]

 ## **Homework 7**

İstifadəçidən bir say daxil etməsini istəyin. Əgər numeric bir qiymət daxil etməyibsə yenidən qiymət daxil etməsini istəyin. Daxil edilmiş sayda yeni ədəd daxil etməsini istəyin. Yeni daxil edilmiş ədədlərin tək və cüt olaraq ayırıb onları ən sonda ekrana çıxardın.

Aşağıdakı misala göz atın:

**Input**

*say*: 4

*Ədəd daxil edin*:  1

*Ədəd daxil edin*:  5

*Ədəd daxil edin*:  8

*Ədəd daxil edin*:  17

**Output**

tək ədədlər [1,5,17] şəklindədir.

cüt ədədlər [8] şəklindədir.

In [ ]:
while True:
  try:
    n = int(input('Number: '))
    if n<=0:
      raise ValueError('Number should be greater than 0')
    odd = []
    even = []
    for i in range(n):
      while True:
        try:
          num = int(input('Enter a numeric value: '))
          if num%2 == 0:
            even+=[num]
          else:
            odd+=[num]
          break
        except:
          print('Enter integer value, please')

    print('Odds:', odd)
    print('Evens:', even)
    break
  except:
    print('Enter a valid integer greater than 0 for the number of values you want to print')

Number: -9
Enter a valid integer greater than 0 for the number of values you want to print
Number: -8
Enter a valid integer greater than 0 for the number of values you want to print
Number: 0
Enter a valid integer greater than 0 for the number of values you want to print
Number: 9
Enter a numeric value: 12
Enter a numeric value: 12.9
Enter integer value, please
Enter a numeric value: 23
Enter a numeric value: 34
Enter a numeric value: 56
Enter a numeric value: 90
Enter a numeric value: -9
Enter a numeric value: 9o
Enter integer value, please
Enter a numeric value: 90
Enter a numeric value: 89
Enter a numeric value: 23
Odds: [23, -9, 89, 23]
Evens: [12, 34, 56, 90, 90]

 ## **Homework 8**

Aşağıda qeyd olunmuş iki listi uyğun olaraq eyni yerdə(indexdə) dayanan qiymətlərini birləşdirib ekrana çıxarın

**Input**

list1 = ["M", "na", "i", "Əlöv"]

list2 = ["y", "me", "s", "sət"]

**Output**

 My name is Əlövsət

In [ ]:
s = ''
list1 = ["M", "na", "i", "Əlöv"]
list2 = ["y", "me", "s", "sət"]
for i in range(len(list1)):
  s+=list1[i] + list2[i] + ' '
print(s)

My name is Əlövsət

 ## **Homework 9**

Verilmiş dictionary-dən qeyd olunmuş keylər üzrə qiymətləri çıxarıb başqa bir dictionaryə yazan kodu yazın.

**Input**

Sample_dictionary:  {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

Keys: ["name", "salary"]

**Output**

 {'name': 'Kelly', 'salary': 8000}

In [ ]:
Sample_dictionary = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
Keys = ["name", "salary"]
ex = {}
for key in Keys:
  ex[key]  = Sample_dictionary[key]
print(ex)

{'name': 'Kelly', 'salary': 8000}

 ## **Homework 10**

Verilmiş nested dictionary-də Brad üçün salary-ni 8500 edib ekrana çıxarın.

**Input**



    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}


**Output**


    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 8500}

In [ ]:
inp = {'emp1': {'name': 'Jhon', 'salary': 7500},
        'emp2': {'name': 'Emma', 'salary': 8000},
        'emp3': {'name': 'Brad', 'salary': 6500}}
for id, details in inp.items():
  if details['name'] == 'Brad':
    details['salary'] = 8500
print(inp)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

 ## **Homework 11**

Tələbələrin smestrdəki balları əsasında onların əlaçı, zərbəçi və ya adi təqaüd alacaqlarını göstərən proqram yazın. 1 fəndən belə 51-dən aşağı qiymət varsa o halda təqaüd ala bilməyəcəyini ekrana qaytarsın.Bundan əlavə tələbənin ortalama balıdı həmin outputda görsənsin.

**Vacib not** Ballar eyni bir inputun içərisində boşluq işarəsi ilə ayrılaraq yazılıb daxil edilməlidir.

### *Misal 1:*

*Input (boşluqla)*: 55 60 70 82 98 66

*output*: Siz adi təqaüd alacaqsınız. Ortalamanız 71.83 bərabərdir.

### *Misal 2:*

*Input*: 95 90 49 82 98 66

*output*: Təssüf siz təqaüd ala bilməyəcəksiz. Ortalamanız 80 bərabərdir.

In [ ]:
while True:
  inp = input('Enter exam scores separated by space: ')
  vals = inp.split()
  flag = True
  t = []
  for val in vals:
    try:
      num = float(val)
      if num < 0 or num > 100:
        raise ValueError('Exam score should be between 0 and 100 inclusive')
      t+=[num]
    except:
      print(f'Error: {val} is not a valid input type, enter value between 0 and 100 inclusive')
      flag = False
      break
  if flag:
    break
av = sum(t) / len(t)
if any(i < 51 for i in t) or av < 51:
  print(f'Tessuf, siz teqaud ala bilmeyeceksiniz. Ortalamaniz {av:.2f}-dir')
elif av > 91:
  print(f'Siz elaci teqaudu alacaqsiniz. Ortalamaniz {av:.2f}-dir')
elif av > 81:
  print(f'Siz zerbeci teqaudu alacaqsiniz. Ortalamaniz {av:.2f}-dir')
elif av > 51:
  print(f'Siz adi teqaud alacaqsiniz. Ortalamaniz {av:.2f}-dir')
#print(t)

Enter exam scores separated by space: 56 90 98 _
Error: _ is not a valid input type, enter value between 0 and 100 inclusive
Enter exam scores separated by space: 100 97 85 67
Siz zerbeci teqaudu alacaqsiniz. Ortalamaniz 87.25-dir
[100.0, 97.0, 85.0, 67.0]

 ## **Homework 12**

İstifadəçidən 2 söz daxil etməsini istyin. Daxil edilmiş sözlərdə ortaq olamayan unikal hərfləri ekrana çıxarın.

**Input**

*1-ci ad*: Gülçöhrə

*2-ci ad*:  Aygül

**Output**

{'a', 'h', 'r', 'y', 'ç', 'ö', 'ə'}

In [ ]:
while True:
    w1 = input('Enter the first word: ')
    if not w1.isalpha():
        print('Error: enter a valid word consisting only of letters.')
    else:
        while True:
            w2 = input('Enter the second word: ')
            if not w2.isalpha():
                print('Error: enter a valid word consisting only of letters.')
            else:
                unique = set(w1.lower()).union(set(w2.lower())) - set(w1.lower()).intersection(set(w2.lower()))
                print(unique)
                break
        break

#reason why I used lower() is that size of the letter does not need to have any influence on its uniqueness.

Enter the first word: Rasi8
Error: enter a valid word consisting only of letters.
Enter the first word: Rasim
Enter the second word: Rusa
{'i', 'u', 'm'}

 ## **Homework 13**

Təsəvvür edinki magistr qrup üçün bir nəfər qrup rəhbəri seçməlidir. Sizdən bu məsələni həll etmək üçün bir proqram yazmağınız istənir. Proqram təsviri bu şəkildə olmalıdır. İlk öncə öz istifadəçidən namizədlərin adını düzgün daxil etməyi istəyirsiz(eyni bir input içərisində boşluqlarla ayrılmış şəkildə). Daha sonra səsvermədə iştirak edən iştirakçı sayının qeyd olunmasını istəyirsiz. Növbəti mərhələdə namzədlərin sayı iştirakçı sayı qədər ekrana gətirilir və iştirakçılardan namizədin adının qeyd olunmağı istənilir(böyük kiçik biri böyük biri kiçik hərflərlə də daxil edə bilər səs verdiyi namizədin adını). Ən sonda son iştirakçıda səs verdikdən sonra yekun nəticə ekrana çıxarılmalıdır.  

Aşağıdakı misala göz atın:

**Input**

*Namizədləri daxil edin(boşluqla)*: Əli Vəli Kənan

*Seçkidəki iştirakçı sayı*: 8


*Seçiminizi daxil edin Əli,Vəli, Kənan*:  kənan

*Seçiminizi daxil edin Əli,Vəli, Kənan*:  əli

*Seçiminizi daxil edin Əli,Vəli, Kənan*:  ƏLİ

*Seçiminizi daxil edin Əli,Vəli, Kənan*:  VƏli

*Seçiminizi daxil edin Əli,Vəli, Kənan*:  KənaN

*Seçiminizi daxil edin Əli,Vəli, Kənan*:  kənan

*Seçiminizi daxil edin Əli,Vəli, Kənan*:  əli

*Seçiminizi daxil edin Əli,Vəli, Kənan*:  Kənan

*Seçiminizi daxil edin Əli,Vəli, Kənan*:  Vəli

*Seçiminizi daxil edin Əli,Vəli, Kənan*:  KƏNAN

**Output**


 Əli-2

 Kənan-4

 Vəli-3

In [ ]:
while True:
  candts = input('Enter candidates names properly separated by spaces: ').split()
  if all(candt.isalpha() for candt in candts):
    break
  else:
    print('You have entered invalid input, please enter enter valid names consisting of only letters')

while True:
  num = input('Enter the number of participants in the election: ')
  try:
    no = int(num)
    break
  except:
    print(f'{num} is not number, enter valid format')

votes = {}

for i in range(no):
  while True:
      choice = input(f"Enter your ideal candidate to vote {', '.join(candts)}: ").strip()
      choice = choice.lower()
      if choice in [candt.lower() for candt in candts]:
        if choice in votes:
          votes[choice] += 1
        else:
          votes[choice] = 1
        break
      else:
        print('Invalid choice, please do your selection from the candidates provided above')
        new_choice = input('Enter a valid candidate name to replace your invalid choice before: ').strip()
        new_choice = new_choice.lower()
        if new_choice in [candt.lower() for candt in candts]:
          if new_choice in votes:
            votes[new_choice] += 1
          else:
            votes[new_choice] = 1
          break
        else:
          print('Invalid replacement choice, please choose from the candidates provided above')
for candidate in candts:
    count = votes.get(candidate.lower(), 0)
    print(f"{candidate}-{count}")

Enter candidates names properly separated by spaces: akbar nah
Enter the number of participants in the election: akbar
akbar is not number, enter valid format
Enter the number of participants in the election: Akbar
Akbar is not number, enter valid format
Enter the number of participants in the election: 2
Enter your ideal candidate to vote akbar, nah: Akbar
Enter your ideal candidate to vote akbar, nah: akbar
akbar-2
nah-0

 ## **Homework 14**
Istifadəçidən hava temperaturlarını daxil etməyini istəyin(boşluqlarla). Daha sonra həmin temperaturları 15-dan böyük 33-dən kiçik olanarı *mülayim*, 33-dən yuxarı olanları *isti* və 15-dən kiçik olanları *soyuq* olaraq qiymətləndirin. Ən sonda daxil olunmuş temperaturları qiymətləndirmiş nəticələrlə birgə ekrana çıxarın.

**Input**

*Temperaturları daxil edin(boşluqla)*: 30 40 -10 5

**Output**

30°C  mülayimdir.

40°C istidir.

-10°C soyuqdur.

5°C  soyuqdur.

In [ ]:
while True:
  inp = input('Enter temperature values separated by space: ')
  vals = inp.split()
  flag = True
  t = []
  for val in vals:
    try:
      num = float(val)
      t+=[num]
    except:
      print(f'Error: {val} is not a valid input type, enter numerical value')
      flag = False
      break
  if flag:
    break

def determiner(x):
  if x >= 33:
    return 'istidir'
  elif x<=15:
    return 'soyuqdur'
  else:
    return 'mulayimdir'

for i in t:
  print(f'{i}°C {determiner(i)}')

#the problem in this code here is that if the user somehow enters non-valid input, he/she will be prompted again to enter the whole range of values
#the code below can fix the problem to replace that invalid type with a new valid one with while True loop until done

Enter temperature values separated by space: 12 23 _
Error: _ is not a valid input type, enter numerical value
Enter temperature values separated by space: 12 45 90 88
12.0°C soyuqdur
45.0°C istidir
90.0°C istidir
88.0°C istidir

In [ ]:
while True:
  inp = input('Enter temperature values separated by space: ')
  vals = inp.split()
  #flag = True
  t = []
  for val in vals:
    try:
      num = float(val)
      t+=[num]
    except:
      while True:
        new_val = input(f'Error: {val} is not a valid numerical input, please enter a numerical value: ')
        try:
          num = float(new_val)
          t+=[num]
          break
        except:
          print(f'Error: "{new_val}" is not a valid numerical input. Please try again.')
  if len(t) == len(vals):
    break

def determiner(x):
  if x >= 33:
    return 'istidir'
  elif x<=15:
    return 'soyuqdur'
  else:
    return 'mulayimdir'

for i in t:
  print(f'{i}°C {determiner(i)}')

Enter temperature values separated by space: 12 23 ) _ 9
Error: ) is not a valid numerical input, please enter a numerical value: 09
Error: _ is not a valid numerical input, please enter a numerical value: 45
12.0°C soyuqdur
23.0°C mulayimdir
9.0°C soyuqdur
45.0°C istidir
9.0°C soyuqdur

 ## **Homework 15**
Userdən eyni ölçülü 2 set götürün. Daha sonra bu set-lərin ortaq qiyməti varsa "yes" və hansı(lar) olduğunu, deyilsə "no" sözünü ekrana çıxarın.

**Example**

 set1 = {10, 20, 30, 40, 50}

 set2 = {60, 70, 80, 90, 10}

**Output**

 yes

{10}

In [ ]:
while True:
  set1 = set(input('Enter elements of set1 separated by space: ').split())
  set2 = set(input("Enter elements of set2 separated by space with the same length as set1: ").split())
  if len(set1) == len(set2):
    break
  print('Sets must have the same length')

if set1.intersection(set2):
  print('Yes')
  print(set1.intersection(set2))
else:
  print('No')

Enter elements of set1 separated by space: 12 34 45.6
Enter elements of set2 separated by space with the same length as set1: 23 46 45.6
Yes
{'45.6'}