1. Try to correct this error:

In [ ]:
print('Hello-Python!')

Hello-Python!

2. Convert 34 to a float

In [ ]:
float(34)

34.0

3. Convert 0 to boolean.

In [ ]:
bool(0)

False

 4. Print the data type of the result of: 7 // 3.

In [ ]:
type(7//3)

int

5. Find the length of the string "Data Science".

In [ ]:
len('Data Science')

12

6. Print the last element in this string.

In [ ]:
s = 'Data Science'
s[len(s)-1]

'e'

7. Get every second element in the range from index 0 to index 4 in this string.

In [ ]:
s[0:5:2]

'Dt '

8. Convert the variable m to lowercase: m = "I am a minimalist person".

In [ ]:
m = 'I am a minimalist person'
m.lower()

'i am a minimalist person'

9. Consider the variable g, and find the first index of the sub-string "snow" and replace the sub-string Mary with Tom.

In [ ]:
g = "Mary had a little lamb Little lamb, \n\
little lamb Mary had a little lamb Its fleece was white as snow \n\
And everywhere that Mary went Mary went, Mary went Everywhere \n\
that Mary went The lamb was sure to go"
idx = g.find('snow')
print(f"the first index of the sub-string 'snow' is {idx}")
g = g.replace('Mary', 'Tom')
print(f'\nupdated g: \n\
\n{g}')

the first index of the sub-string 'snow' is 96

updated g:

Tom had a little lamb Little lamb,
little lamb Tom had a little lamb Its fleece was white as snow
And everywhere that Tom went Tom went, Tom went Everywhere
that Tom went The lamb was sure to go

10. In the variable g, split the substring to list.

In [ ]:
lst = g.split()
print(lst)

['Tom', 'had', 'a', 'little', 'lamb', 'Little', 'lamb,', 'little', 'lamb', 'Tom', 'had', 'a', 'little', 'lamb', 'Its', 'fleece', 'was', 'white', 'as', 'snow', 'And', 'everywhere', 'that', 'Tom', 'went', 'Tom', 'went,', 'Tom', 'went', 'Everywhere', 'that', 'Tom', 'went', 'The', 'lamb', 'was', 'sure', 'to', 'go']