In [50]:
try:
    n = input('yas daxil edin: ')
    m = int(n)
    if m == int(n): 
        if m > 18:
            print('yetiskinsen')
        else:
            print('deyilsen')
except:
    print('duzgun yas daxil edin')

yas daxil edin: 13-
duzgun yas daxil edin

In [53]:
a = input('birinci ededi daxil edin: ')
b = input('ikinci ededi daxil edin: ')
try:
    a = float(a)
    b = float(b)
    if a == b:
        print('ededler beraberdir')
    elif a > b:
        print('birinci eded boyukdur')
    else:
        print('ikinci eded boyukdur')
except:
    print('duzgun input formati daxil edin')

birinci ededi daxil edin: 12.9
ikinci ededi daxil edin: 90h
duzgun input formati daxil edin

In [54]:
try:
    a = input('temperaturu daxil edin: ')
    a = float(a)
    if a < 0:
        print('cox soyuq')
    elif 0 < a < 20:
        print('soyuq')
    else:
        print('iliq')
except:
    print('duzgun temperatur format daxil edin')

temperaturu daxil edin: 12
soyuq

In [26]:
for i in range(1, 11):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [42]:
try:
    a = input()
    b = int(a)
    if b == int(a):
        print(a)
except:
    print('duzgun eded daxil edin')

450.
duzgun eded daxil edin

In [55]:
n = int(input('eded daxil et: '))
a = 0
for i in range(1, n):
    if n%i == 0:
        a+=i
if a == n:
    print('ozudu')
else:
    print('deyil')

eded daxil et: 336
deyil

In [1]:
a = int(input('eded: '))
x = 1
for i in range(1, a+1):
    x*=i
print(x)

eded: 6
720

In [7]:
i = input('enter multiple values: ')
inn = i.split(',')
s = 0
for j in inn:
    s+=float(j)
print(s)

enter multiple values: 156.8, 90
246.8

In [6]:
i = input('stringi daxil edin: ')
for j in i:
    print(j)

stringi daxil edin: Akbar
A
k
b
a
r

In [15]:
i = input('metni daxil edin: ')

#print(len(i.split()))

w = 0
flag = False
for char in i:
    if char.isspace():
        if flag:
            w+=1
            flag = False
    else:
        flag = True
if flag:
    w+=1
print(w)

metni daxil edin: ffg'
1

In [23]:
i = input('metn daxil edin: ')

w = 0
for j in i:
    if j.isalpha():
        w+=1
print(w)

metn daxil edin: Akbar elt
8

In [21]:
n = int(input('how many numbers to enter: '))
lst = []
for i in range(n):
    p = input('enter a number: ')
    try:
        num = float(p)
        lst.append(num)
    except:
        print('enter valid input')
print(lst)

print(list(set(lst)))
t = []

for e in lst:
    if e not in t:
        t.append(e)
print(t)

how many numbers to enter: 5
enter a number: 12
enter a number: 13
enter a number: 12
enter a number: 12
enter a number: 16
[12.0, 13.0, 12.0, 12.0, 16.0]
[16.0, 12.0, 13.0]
[12.0, 13.0, 16.0]

In [38]:
i = int(input('ededi daxil et: '))
l = []
w = 0   
for j in range(1, i):
    w = 0
    if i%j == 0 and j not in l:
        for k in range(1, j):
            if j%k == 0:
                w+=1
        if w<=1:       
            l+=[j]
print(l[1: len(l)])

ededi daxil et: 362
[2, 181]

In [29]:
for i in range(1, 101):
    print(i**2, end = ', ' if i < 100 else '')

1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000

In [46]:
lst = []
t = 0
i = input('enter the number or write stop to finish the loop: ')
c = 0
while i != 'stop':
    try:
        num = float(i)
        lst+=[i]
        c+=1
        t+=num
    except:
        print('invalid input')
    i = input('enter the number or write stop to finish the loop: ')
print(lst)
print(t/c)

enter the number or write stop to finish the loop: 34
enter the number or write stop to finish the loop: 56
enter the number or write stop to finish the loop: 90
enter the number or write stop to finish the loop: 23
enter the number or write stop to finish the loop: 0
enter the number or write stop to finish the loop: p-
invalid input
enter the number or write stop to finish the loop: stop
['34', '56', '90', '23', '0']
40.6

In [47]:
import time

start = time.time()
t = 0
for i in range(0, 1500000):
    t+=i
end = time.time()
print('sum is: '+str(t))
print(end-start)

sum is: 1124999250000
0.2835695743560791

In [53]:
import numpy as np
start = time.time()
print(np.sum(np.arange(1500000, dtype = np.int64)))
end = time.time()
print(end-start)

1124999250000
0.0065157413482666016

In [66]:
print(np.mean(np.arange(5)))

2.0

In [71]:
import pandas as pd
df = pd.DataFrame(np.random.randint(1,50,size = (500000,4)), columns = ['a','b','c','d'])
df.shape
df.head()

    a   b   c   d
0  29  43  15  34
1  14   5  20   5
2  12  32   2  36
3  10  32  23  41
4  15   4   7   9

In [68]:
start = time.time()

for idx, row in df.iterrows():
    df.at[idx, 'ratio'] = 100 * (row['d']/row['c'])
end = time.time()
print(end - start)

KeyboardInterrupt:

In [72]:
s = time.time()
df['ratio'] = 100 * (df['d'] / df['c'])

e = time.time()
print(e - s)

0.010472536087036133

In [73]:
import time 
start = time.time()

# Iterating through DataFrame using iterrows
for idx, row in df.iterrows():
    if row.a == 0:
        df.at[idx,'e'] = row.d    
    elif (row.a <= 25) & (row.a > 0):
        df.at[idx,'e'] = (row.b)-(row.c)    
    else:
        df.at[idx,'e'] = row.b + row.c
end = time.time()
print(end - start)
### Time taken: 177 seconds

97.49154138565063

In [74]:
st = time.time()
df['e'] = df['b'] + df['c']
df.loc[df['a'] <= 25, 'e'] = df['b'] - df['c']
df.loc[df['a'] == 0, 'e'] = df['d']
en = time.time()
print(en - st)

0.04010009765625

In [75]:
m = np.random.rand(1,5)
m

array([[0.92310427, 0.55793096, 0.91691388, 0.8587712 , 0.04270421]])

In [76]:
x = np.random.rand(1000000, 5)
x

array([[0.48485065, 0.83584849, 0.86837011, 0.39493088, 0.97393677],
       [0.18504944, 0.7704143 , 0.35363769, 0.30188661, 0.96716277],
       [0.66659166, 0.83151552, 0.12332128, 0.84539494, 0.15229628],
       ...,
       [0.42536966, 0.14521431, 0.86553673, 0.67306436, 0.22711125],
       [0.67421248, 0.49608812, 0.55213259, 0.79702123, 0.3400777 ],
       [0.44792633, 0.08830155, 0.51721377, 0.05705376, 0.68171285]])

In [80]:
t = 0
z=[]
tic = time.process_time()
m = np.random.rand(1,5)
x = np.random.rand(5000000, 5)
for i in range(0, 5000000):
    t = 0
    for j in range(0,5):
        t+=x[i][j]*m[0][j]
    z.append(t)
toc = time.process_time()
print(toc-tic)

14.1875

In [81]:
tic = time.process_time()
np.dot(x, m.T)
toc = time.process_time()
print(toc - tic)

0.046875