<a href="https://colab.research.google.com/github/AkbarBunyad/Training_Programs/blob/main/gi_group_ds/assignments/small_homework_5_(Scholarship).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Find maximum and minimum number of numbers list.**

**numbers = [23, 67, 45, 98, 43, 21, 76, 77, 65].**

**Use for loop.**

In [ ]:
numbers = [23, 67, 45, 98, 43, 21, 76, 77, 65]
mn = numbers[0]
mx = numbers[0]
for i in numbers:
  if i < mn:
    mn = i
  if i > mx:
    mx = i
print('Min number: ', mn)
print('Max number: ', mx)

Min number:  21
Max number:  98

Nested tuple: A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'.Â¶

**2. Use slicing to obtain indexes 3, 4 and 5.            
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)), 7.5, 0)**

In [ ]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)), 7.5, 0)

print(NestedT[3:6])

((3, 4), ('disco', (1, 2)), 7.5)

**3. Create a dictionary named Dict with he following details:**

**Keys are key1, key2, key3, key4, key5.**

**Values are {1,2,[3,3,3],(4,4,4),5} corresponding to the keys.**

In [ ]:
Dict = {}
keys = ['key1', 'key2', 'key3', 'key4', 'key5']
vls = [1, 2, [3,3,3], (4,4,4), 5]
for key, value in zip(keys, vls):
  Dict[key] = value

print(Dict)

{'key1': 1, 'key2': 2, 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5}

**4. Delete first and last elements by key.**

In [ ]:
lst = list(Dict.keys())

for key in (lst[0], lst[-1]):
  del Dict[key]

print(Dict)

{'key2': 2, 'key3': [3, 3, 3], 'key4': (4, 4, 4)}

**5. set1 = set(["Thriller", 'AC/DC', 'Back in Black'])**

**set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])**

**a) Find the intersections;**

**b) Find the union of two sets;**

**c) Find the difference in set1 but not set2;**

**d) Find the symmetric difference.**

In [4]:
set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

print('Intersections of sets given: ', set1.intersection(set2))
print('Union of them: ',set1.union(set2))
print('Difference in set1 but not set2: ', set1.difference(set2))
print('Symmetric difference: ', set2.symmetric_difference(set1))

Intersections of sets given:  {'Back in Black', 'AC/DC'}
Union of them:  {'Back in Black', 'AC/DC', 'The Dark Side of the Moon', 'Thriller'}
Difference in set1 but not set2:  {'Thriller'}
Symmetric difference:  {'The Dark Side of the Moon', 'Thriller'}